
<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Login Page for  W4111's Music Application</h1>
  <div>{{data}}</div>
<!---
  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>
--!>

<form action="/my_library" method="GET" action="/check">
  <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>
    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <button type="submit">Login</button>
  </div>
</form>


<form method="GET" action="/check">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

</body>


</html>
